.logo {
    width: 5.5em;
    height: auto;
}

.nav1 {
    height: 7em;
    line-height: 7em;
    /*background-color: #8a008a;
	background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");*/
 }

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

#map{
	min-height: 30em;
	min-width: 30em;
	position:relative;
}